.project
.settings
/app/config/local/database.php
/tmp
/public/storage
/public/audio
/public/download
/public/downloads
/public/photos
/public/uploads
/public/backup
/public/video
/vendor
!.gitignore
.idea
tree.iml
kfn-tree.iml
.env
.buildpath
.bowerrc
.DS_Store
/public/.DS_Store
/public/assets/.DS_Store
/public/assets/css/.DS_Store
/public/assets/img/.DS_Store
/public/assets/vendors/weather/src/.DS_Store
/public/assets/vendors/weather/src/img/.DS_Store
/public/assets/vendors/weather/src/img/icons/.DS_Store
/public/assets/vendors/weather/src/img/icons/weather/.DS_Store
/resources/.DS_Store
/storage/.DS_Store
/storage/framework/.DS_Store
/storage/framework/*
/storage/framework/views/*
/storage/framework/views/.DS_Store
/public/assets/vendors/jplayer/
/storage/framework/
